.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    font-family: fantasy;
}

.header-bg{
    background-color: #0000009c;
    transition: 0.5;   
    /* background-color: red; */
    /* width: 300px; */
}

.header a{
    text-decoration: none;
}

.header a h1{
    color: white;
}

.header .navMenu{
    display: flex;
    list-style: none;
}

.navMenu  li{
    padding: 0 0.5rem;
}

.navMenu li a{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color:white;
    padding: 0.75rem;
    border-radius: 5px;
}

.hamburger{
    display: none;
}

@media(max-width:1040px){
    .navMenu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.731);
        position: absolute;
        left: 0;
        top: 0;
        z-index:-3;
        transition: all ease-in-out 0.3s;
    }

    .navMenu.active{
        left: -100%;
    }

    .navMenu li a{
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
        cursor: pointer;
    } 
}    

@media(max-width:650px){
    .h1{
        font-size: 1.5rem !important;
    }
}